MitchellClaimClient/Service References/MitchellClaimServiceReference/MitchellClaimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MitchellClaimService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MitchellClaimService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClaimInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjusterId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lossInfo" nillable="true" type="tns:LossInfo" />
      <xs:element minOccurs="0" name="vehicleInfoList" nillable="true" type="tns:ArrayOfVehicleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
  <xs:complexType name="LossInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossInfo" nillable="true" type="tns:LossInfo" />
  <xs:complexType name="ArrayOfVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleInfo" nillable="true" type="tns:VehicleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleInfo" nillable="true" type="tns:ArrayOfVehicleInfo" />
  <xs:complexType name="VehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Damage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Engine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicPlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleInfo" nillable="true" type="tns:VehicleInfo" />
</xs:schema>