MitchellClaimClient/Service References/MitchellClaimServiceReference/MitchellClaimService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MitchellClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57108/MitchellClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57108/MitchellClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57108/MitchellClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MitchellClaimService" />
      <xsd:import schemaLocation="http://localhost:57108/MitchellClaimService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMitchellClaimService_CreateClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaim" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_CreateClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_SearchClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchClaim" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_SearchClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_GetClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaim" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_GetClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_DeleteClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClaim" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_DeleteClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_GetVehicleClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleClaim" />
  </wsdl:message>
  <wsdl:message name="IMitchellClaimService_GetVehicleClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleClaimResponse" />
  </wsdl:message>
  <wsdl:portType name="IMitchellClaimService">
    <wsdl:operation name="CreateClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IMitchellClaimService/CreateClaim" message="tns:IMitchellClaimService_CreateClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMitchellClaimService/CreateClaimResponse" message="tns:IMitchellClaimService_CreateClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IMitchellClaimService/SearchClaim" message="tns:IMitchellClaimService_SearchClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMitchellClaimService/SearchClaimResponse" message="tns:IMitchellClaimService_SearchClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IMitchellClaimService/GetClaim" message="tns:IMitchellClaimService_GetClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMitchellClaimService/GetClaimResponse" message="tns:IMitchellClaimService_GetClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IMitchellClaimService/DeleteClaim" message="tns:IMitchellClaimService_DeleteClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMitchellClaimService/DeleteClaimResponse" message="tns:IMitchellClaimService_DeleteClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IMitchellClaimService/GetVehicleClaim" message="tns:IMitchellClaimService_GetVehicleClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMitchellClaimService/GetVehicleClaimResponse" message="tns:IMitchellClaimService_GetVehicleClaim_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMitchellClaimService" type="tns:IMitchellClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateClaim">
      <soap:operation soapAction="http://tempuri.org/IMitchellClaimService/CreateClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClaim">
      <soap:operation soapAction="http://tempuri.org/IMitchellClaimService/SearchClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaim">
      <soap:operation soapAction="http://tempuri.org/IMitchellClaimService/GetClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClaim">
      <soap:operation soapAction="http://tempuri.org/IMitchellClaimService/DeleteClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleClaim">
      <soap:operation soapAction="http://tempuri.org/IMitchellClaimService/GetVehicleClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MitchellClaimService">
    <wsdl:port name="BasicHttpBinding_IMitchellClaimService" binding="tns:BasicHttpBinding_IMitchellClaimService">
      <soap:address location="http://localhost:57108/MitchellClaimService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>